<ion-header>
  <ion-toolbar>
    <ion-title>new-offer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding>
    <ion-row align-items-center justify-content-center>
      <ion-col size-sm="4" size-md="2" offset-sm="2" offset-md="4">Row1 Col1</ion-col>
      <ion-col size-sm="4" size-md="3">
        <ion-card>
          <ion-card-content>
            <h1>The Column</h1>
            <p>Row1 Col2</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
